body {
    font-family: "Roboto";
  }
  .lotofacil {
    margin: 30px;
    border-top: 1px solid #ddd;
  }
  #l_trevo {
    width: 40px;
    height: 40px;
    top: 5vh;
    position: relative;
  }
  .l_tipo {
    color: #930089;
    width: 10px;
    height: 5vh;
    top: 1px;
    left: 50px;
    font-size: 28px;
    position: relative;
    
 }

  .l_dezena {
    color: gray;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    width: 100px;
    height: 5vh;
    grid-column-gap: 10px;
    position: fixed;
    top: 270px;
    left: 500px;
    font-size: 24px;
    margin: 10px;
  }

  .l_dezena::before {
    content: "";
    grid-row: 2 / span 1;
    grid-column: 1 / span 5;
    border-bottom: 1px solid #ddd;
  }

  .l_dezena::after {
    content: "";
    grid-row: 4 / span 1;
    grid-column: 1 / span 5;
    border-bottom: 1px solid #ddd;
  }
  .l_matriz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  .l_estimativa {
    color: #4c556c;
    margin: 10px;
  }
  .l_ganha {
    color: #0066b3;
    font-size: 30px;
    top: 150px;
    left: 460px;
    position: relative;
  }
  .l_data {
    color: #4c556c;
    top: 115px;
    left: 460px;
    position: relative;
  }
  .l_valor {
    color: #930089;
    width: 10px;
    height: 5vh;
    top: 1px;
    left: 50px;
    font-size: 22px;
    position: relative;
  }